html, body {
  height: 100%;
  width: 100%;
  background: black;
  padding: 0;
  scroll-behavior: smooth;
margin:0;
}
.naver{
	position: sticky;
	top: 0;
  background-color:#26c6da;
}
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1000px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}
.nav, h4 {
color: black;
	font-size: 25px;
	font-weight: 900;
  font-family: 'Main' ;
}
.nav a{
  text-decoration:none;
  color:black;
  font-family:cursive;
}
.naver .nav img{
  height: 60px;
  float:left;
  transition: 0.5s;
}
.naver .nav img:active{
  transform: scale(90%);
}
input::placeholder{
   	background: linear-gradient(90.02deg, #ef3550 0.02%,#f48fb1 27.09%,  #7e57c2 51.04%, #2196f3 76.56%, #26c6da 87.99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
  font-family: 'Main';
}

.nav .clear{
  border-radius: 0px 14px 14px 0px;
  height:45px;
  background: whitesmoke;
  border:0;
  width: 40px;
}
.nav .clear:hover{
  cursor:pointer;
}
.search{
  border-radius: 14px 0px 0px 14px;
  height:45px;
  background: #fff;
  width: 40px;
 border:0;
}
.search i{
  color: black;
}
.nav input[type=text]:focus{
  outline: 0;
}
.products a{
  text-decoration:none;
  font-family: 'Sofia';
  font-weight: bold;
  font-size:1.5rem;
  	background: linear-gradient(90.02deg, #ef3550 0.02%,#f48fb1 27.09%,  #7e57c2 51.04%, #2196f3 76.56%, #26c6da 87.99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
  transition: 0.5s;
}
 .products a:active{
  transform: scale(90%);
}
.products{
  background-color: #ffffff;
   border-top: 1px solid black;
}
.pro-nav {
  	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1000px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
  border-bottom: 4px;
}
.topnav{
  display:flex;
}
.nav .topnav input{
  height: 43px;
  width: 550px;
  border:0;
  font-size: 17px;
}
.nav .topnav button:hover{
  cursor: pointer;
}
img{
  -webkit-user-drag: none;
  user-select: none;
}
